* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background: #ecf0f1;

  .main-content {
    margin-left: 250px;
    flex: 1;
    padding: 20px;
  }
}
